@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 15px;

}

html::-webkit-scrollbar-track{
    background-color: lightgrey;
}

html::-webkit-scrollbar-thumb{
    background-color: darkviolet;
    border-radius: 50px;
}

/* navbar style */
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    position: fixed;
    padding: 20px 0;
    width: 100%;
    z-index: 999;
    background-color: violet;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.5s ease;
}

.navbar.sticky{
    padding: 10px 0;
    background-color: darkviolet;
}

.navbar .logo img{
    width: 60px;
    border-radius: 50%;
}

.navbar .nav-items li{
    list-style: none;
    display: inline-block;
}

.navbar .nav-items li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .nav-items li a:hover{
    color: black;
} 

/* nav btn style */

.nav-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background-color: darkviolet;
    text-align: center;
    line-height:45px;
    right: 30px;
    bottom: 10px;
    font-size: 30px;
    color: white;
    border-radius: 6px;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn:hover{
    box-shadow: 5px 5px 10px gray;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* home section style */

.home{
    display: flex;
    background: url("https://vaibhavshanbhag.github.io/Vaibhav/img/background.jpg") no-repeat center center/cover;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: violet;
    font-weight: 500;
}

/* about section style */
section{
    padding: 80px 0;
}

.about{
    font-family: 'Poppins', sans-serif;
}

.about .head{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 70px;
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.about .head::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background-color: black;
    transform: translateX(-50%);
}

.about .about-content, .projects-content, .skills-content, .contact-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;

}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 10px 10px 10px gray;
}

.about .about-content .right{
    width: 55%;

}

.about .about-content .right p{
    text-align: justify;
}

.schooling h2{
    margin: 10px 0;
}

.schooling .college{
    display: inline-block;
    margin-top: 10px;
}

.schooling .degree{
    margin-left: 25px;
}

.schooling .percentage{
    font-weight: 600;
    margin-left: 25px;
}

.about .about-content .right a{
    display: inline-block;
    font-size: 20px;
    padding: 10px 15px;
    margin-top: 40px;
    color: white;
    background-color: darkviolet;
    border: 2px solid darkviolet;
    border-radius: 6px;
    transition: all 0.3s ease;
    
}

.about .about-content .right a:hover{
    color: darkviolet;
    background-color: transparent;
}

/* projects section style  */
.projects{
    font-family: 'Poppins', sans-serif;
    background-color: crimson;
    color: white;
}

.projects .head{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 70px;
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.projects .head::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 210px;
    height: 3px;
    background-color: white;
    transform: translateX(-50%);
}

.projects .projects-content .card{
    width: calc(33% - 20px);
    background-color: black;
    padding: 30px 40px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.projects .projects-content .card:hover{
    background-color: darkviolet;
}

.projects .projects-content .card a{
    color: white;
}

.projects .projects-content .card .box{
    transition: all 0.3s ease;
}

.projects .projects-content .card:hover .box{
    transform: scale(1.05);
}

.projects .projects-content .card i{
    font-size: 50px;
    color: violet;
    transition: color 0.3s ease;
}

.projects .projects-content .card:hover i{
    color: white;
}

.projects .projects-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* skills section style */
.skills{
    font-family: 'Poppins', sans-serif;
}

.skills .head{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 70px;
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.skills .head::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 170px;
    height: 3px;
    background-color: black;
    transform: translateX(-50%);
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    text-align: justify;
    margin-bottom: 30px;
}

.skills .skills-content .right .lang-text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: -3px;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: darkviolet;
}

.skills-content .right .java::before{
    width: 80%;
}

.skills-content .right .kotlin::before{
    width: 10%;
}

.skills-content .right .html::before{
    width: 90%;
}

.skills-content .right .css::before{
    width: 70%;
}

.skills-content .right .js::before{
    width: 10%;
}

.skills-content .right .cpp::before{
    width: 80%;
}

.skills-content .right .py::before{
    width: 70%;
}

.skills-content .right .py::before{
    width: 70%;
}

.skills-content .right .tech{
    margin-top: 40px;
}

.skills-content .right .android::before{
    width: 80%;
}

.skills-content .right .vscode::before{
    width: 90%;
}

/* contact section style */
.contact{
    font-family: 'Poppins', sans-serif;
    background-color: crimson;
    color: white;
}

.contact .head{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 70px;
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.contact .head::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 190px;
    height: 3px;
    background-color: white;
    transform: translateX(-50%);
}

.contact.contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .row i{
   font-size: 25px;
   color: black;
}

.contact .contact-content .left{
    margin-bottom: 20px;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .info{
    margin-left: 30px;
}

.contact .contact-content .info .heading{
    font-weight: 500;
}

.contact .right form .fields{
    display: flex;
    
}

.contact .right form .field, .contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .message{
    height: 90px;
    width: 100%;
}

.contact .right form .field input, .contact .right form .message textarea{
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0px 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .message textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .button{
    height: 47px;
    width: 180px;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    background-color: black;
    outline: none;
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover{
    background-color: darkviolet;
    border: 2px solid darkviolet;
    
}

/* footer section style */
.footer{
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}

.footer .social-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social-links .links{
    color: white;
    margin: 20px;
}

.footer .links a  i{
    font-size: 30px;
    color: darkviolet;
    transition: all 0.3s ease;  
}

.footer .links a i:hover{
    color: white;
}

.footer p{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

.footer p span{
    font-weight: 500;
}
